* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#canvas-container {
    position: absolute;
    right: 0px;
}

.command-list-container {
    border: 1px solid black;
    width: 350px;
    margin-left: 50px;
    padding: 5px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.3em;
}

.command-list {
    padding-left: 30px;
}

body {
    background-color: darkslategray;
}