* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#canvas-container {
    position: absolute;
    top: 0px;
    right: 0px;


}

.side-panel {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 300px;  
    /* border: 2px solid green; */

}

.command-list-container {
    /* border: 1px solid red; */
    padding: 5px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.3em;
    color: white;
    margin-top: 50px;
}

.command-list {
    padding-bottom: 30px;
    padding-left: 30px;
    color: gray;
    font-size: .8em;
}

.hide-panel-btn {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 50px;
}

body {
    background-color: rgb(27, 61, 61);
    overflow: hidden;
}