* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#canvas-container {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}


.side-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    
    height: 100vh;
    width: 400px;  

    overflow: hidden;
    transition: width 0.2s;
    background-color: rgb(13, 20, 20);
}


.command-list-container {
    /* border: 1px solid red; */
    padding: 5px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.3em;
    color: white;
    margin-top: 50px;
}

.command-list {
    padding-bottom: 30px;
    padding-left: 30px;
    color: gray;
    font-size: .8em;
}

.hide-panel-btn {
    right: 0px;
    cursor: pointer;
    color: white;
}
.open-panel-btn {
    left: 10px;
    color: black;
    text-shadow: none;
    animation: openSidePanelGlow 1s;
    animation-delay: 3s;
    cursor: pointer;
}


@keyframes openSidePanelGlow {
    0% {text-shadow: none; font-size: 11.2em;}
    40% {text-shadow: 0px 0px 10px black; font-size: 1.2em;}
    100% {text-shadow: none; font-size: 2.1em;}
}

button[class$="panel-btn"]:focus {
    outline: none;
}

button[class$="panel-btn"] {
    position: absolute;
    top: 0px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: transparent;
    font-size: 2em;
}

body {
    background-color: rgb(13, 20, 20);
    overflow: hidden;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: rgb(87, 33, 33);

    font-family: 'Ubuntu Mono', monospace;
    color: white;
    font-size: 1.1em;
}

footer > div {
    display: flex;
    align-items: center;
}

footer > div > img {
    border: 1px solid black;
    object-fit: contain;
    width: 40px;
    height: 35px;
    margin-right: 10px;
}